*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --bg-color: white;
    --box-shadow: 5px 5px 8px #00000052;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image:#ffb199;background-image:  
radial-gradient(at 5% 8%, hsla(50,81%,75%,1) 0, transparent 45%),  
radial-gradient(at 49% 46%, hsla(307,60%,78%,1) 0, transparent 41%),  
radial-gradient(at 64% 81%, hsla(39,74%,73%,1) 0, transparent 55%),  
radial-gradient(at 78% 12%, hsla(349,87%,67%,1) 0, transparent 40%),  
radial-gradient(at 0% 97%, hsla(114,85%,69%,1) 0, transparent 54%),  
radial-gradient(at 29% 5%, hsla(74,93%,77%,1) 0, transparent 43%),  
radial-gradient(at 22% 50%, hsla(108,63%,64%,1) 0, transparent 45%);
}
h3{
    margin: 0.2rem 0rem 0.7rem 0rem;
    text-align: center;
}
.section-center{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 1rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

}
.section-center:hover{
    transform: scale(1.01);
}
.form-cotrol{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.todo-form input{
    padding: 5px;
    border: 1px solid rgb(149, 147, 147);
    border-radius: 3px;
    margin-bottom: 10px;
}
.form-control button{
    padding: 6px;
    border: none;
    border-radius: 3px;
    background-color: #544ae2;;
    color: #fff;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.form-control button:hover{
    background-color: #5e9bd1;
    letter-spacing: 0.1rem;
}

.alert {
    margin-bottom: 1rem;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
  }
  .alert-danger {
    color: #721c24;
    background: #f8d7da;
  }
  .alert-success {
    color: #155724;
    background: #d4edda;
  }
  
.clear-btn:hover{
    letter-spacing: 0.1rem;
    background-color: rgb(121, 34, 121);
}
.clear-btn{
    padding: 4px;
    border: none;
    border-radius: 3px;
    background-color: rgb(121, 34, 121);
    color: #fff;
    cursor: pointer;
}
.list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Source Code Pro', monospace;
}
.list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-container{
    margin-left: 0.75rem;
}
.edit-btn, .delete-btn{
    border: none;
}
.edit-color{
    color: green;
}
.delete-color{
    color: rgb(224, 11, 11);
}
.clear-btn{
    margin-top: 1rem;
    display: none;
}


footer{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 40rem;
    margin: 1rem 0rem 0.6rem 0rem;
}
.social-media, .author{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    height: 28px;
    width: 28px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 50%;
    padding: 12px;
    text-align: center;
    margin: 2px;
}
.social-media a:hover{
transform: scale(1.1);
}
.fa-twitter,  .fa-github, .fa-linkedin-in  {
    color: #24292e;
}
.author{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    /* font-weight: 300; */
}
.heart {
    font-size: 16px;
}


@media only screen and (max-width: 600px)
{
    .section-center{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      
    }
    input{
        width: 71%;
    }
    .form-control button:hover{
        background-color: #5e9bd1;
        letter-spacing: 0rem;
    }
    .clear-btn{
        margin-left: 1rem;
    }
    .clear-btn:hover{
        letter-spacing: 0rem;
        background-color: rgb(121, 34, 121);
    }
}
@media (max-width: 400px)
{
    footer{
        display: block;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        position: sticky;
        top: 39rem;
        margin: 1rem 0rem 0.6rem 0rem;
    }
}
